.navlogo {
    height: 100%;
    background: linear-gradient(93.51deg, #9B51E0 2.84%, #3081ED 99.18%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
  }